<p>Hi <%= @client.first_name %>,</p>

<p>You have received a new bid from <%= @bid.provider.email %></p>
<p>Here are the details of the bid</p>
<p><strong>Status:</strong><%= @bid.status %></p>
<p><strong>Content:</strong><%= @bid.content %></p>
<p>You can select this bid throught the following <a href="http://bidnbill.com/bids/<%= @bid.id %>/select">link</a>.</p>
