<div class="container">
  <div class="row">
    <% @bills.each do |bill| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-bill">
          <% if policy(bill).show? %>
            <%= link_to '', bill_path(bill) , class: 'card-bill-link' %>
          <% end %>
          <% if bill.photo %>
            <div class="card-bill-img" style="background-image: url( '<%#= cl_image_path bill.photo %>' );">
              <div class="card-bill-filter"></div>
              <%= cl_image_tag bill.photo  %>
            </div>

          <% end %>
          <div class="card-bill-info">
            <div class="card-bill-category"><%= bill.category.name %></div>
            <div class="card-bill-description">
              <h2 class="bill-edit">
                <%= bill.current_provider %>
                <% if policy(bill).edit? %>
                  <%= link_to edit_bill_path(bill) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>
              </h2>
              <p>Address: <%= bill.address %></p>
            </div>
            <p class="card-bill-price">Price: <%= bill.price %> €</p>
            <div class="card-bill-bids">
              <% if bill.auction.present? %>
                <h2><%= bill.auction.bids.count %> BIDS</h2>
                <% if policy(bill.auction).destroy? %>
                  <%= link_to auction_path(bill.auction.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              <% else %>
                <% if policy(Auction).create? %>
                  <%= form_tag auctions_path, class:'create_auction_form' do %>
                    <%= hidden_field_tag 'bill_id', bill.id %>
                    <%= submit_tag 'Create an auction', class: 'card-bill-bids-new' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
