
<div class="main-home-container" style='background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url( "https://www.newhdwallpapers.in/wp-content/uploads/2016/10/City-Building-Graphics-Vector.jpg" );'>


  <div class="banner">
    <div class="banner-content">
      <%= image_tag "logo-langing-page-white-demo-2.svg", class:'banner-logo' %>
      <h2>Three steps to take control of your bills</h2>
    </div>
  </div>
<!-- logo-landing.png -->
  <div class="wrapper-landing-page">
    <div class="container">
      <div class="row">
        <div class="row-merged">
          <div class="col-xs-12 col-md-4">
            <div class="card-ui" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('');">
            <%= link_to root_path, class: "card-icons invoice" do %>
            <%= image_tag "invoice.svg" %>
            <% end %>
              <div class="card-description">
                <h3>Upload a bill</h3>
                <p>Create an account and upload your bill <br> (electricity - gas - phone - internet)</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-ui" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('');">
              <%= link_to root_path, class: "card-icons law" do %>
              <%= image_tag "law-good-size.svg" %>
              <% end %>
              <div class="card-description">
                <h3>Create a bid</h3>
                <p>Anonymously, submit your consumption data to competitors</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
          <div class="card-ui" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('');">
            <%= link_to root_path, class: "card-icons eyeglasses" do %>
            <%= image_tag "eyeglasses.svg" %>
            <% end %>
            <div class="card-description">
              <h3>Check the results</h3>
              <p>Consult your bid's results and select the offer that best suits your needs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   <!--  <div class="call-to-action">
    <p> Bid it! <p>
    </div> -->
  </div>

</div>
